.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  height: 100%;
}

hr {
  border-top: 0.5px solid rgb(185, 184, 184);
}

.header {
  font-size: 30pt;
}
.content {
  display: flex;
  display: grid;
  grid-template-columns: 15% 60% 25%;
  width: 95%;
  height: 80%;
}

.sidebar {
  padding: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
.sidebar-title {
  font-size: 15pt;
  font-weight: bold;
  text-align: center;
}

/* Left sidebar */
.user-list-container {
  background-color: aliceblue;
  padding: 10px;
  padding-top: 20px;
  border-radius: 10px;
  width: 100%;
  text-align: center;
  overflow-y: hidden;
}
.user-list {
  overflow-y: scroll;
  z-index: 3;
  max-height: 95%;
}
.user-list::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
}
.user-list::-webkit-scrollbar-thumb {
  background-color: #d7d7d7;
  border-radius: 10px;
}
.user {
  margin: 10px;
  font-size: 10pt;
}

.main {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 10px;
}

.tasks {
  overflow-y: scroll;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.tasks::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
}
.tasks::-webkit-scrollbar-thumb {
  background-color: #d7d7d7;
  border-radius: 10px;
}

.task {
  display: flex;
  background-color: aliceblue;
  padding: 20px;
  border-radius: 10px;
  border-width: 10px;
  border: #000000;
}

.info {
  width: 100%;
}
.task-title {
  font-weight: bold;
  font-size: 15pt;
}
span {
  color: rgb(50, 50, 124);
  margin-left: 10px;
}
.task-description {
  margin: 10px;
}

.button {
  position: relative;
  background-color: transparent;
  float: right;
  padding: 4px;
  border-width: 0px;
}

.chat {
  width: 100%;
  border-radius: 10px;
  background-color: aliceblue;
  padding: 10px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.messages {
  margin-top: 15px;
  overflow-y: scroll;
  max-height: 87%;
  width: 95%;
}
.messages::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
}
.messages::-webkit-scrollbar-thumb {
  background-color: #d7d7d7;
  border-radius: 10px;
}
.messages .message {
  margin: 7px;
  border-radius: 5px;
}
.messages .username {
  font-size: 12pt;
  margin-top: 15px;
  font-weight: bold;
  color: rgb(75, 39, 153);
}
.messages .text {
  font-size: 10pt;
}
.messages .username span {
  font-size: 10pt;
}

.chat-input-container {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 93%;
  position: absolute;
  bottom: 10px;
}
.chat-input-container input {
  border-radius: 10px;
  padding: 10px;
  width: 80%;
  border-width: 0px;
}
.chat-input-container button {
  height: 100%;
  padding: 10px;
  border-width: 0px;
  border-radius: 10px;
  background-color: rgb(154, 215, 255);
}
.chat-input-container :hover {
  transition: 0.2s ease-in;
  background-color: #cfccff;
}
.chat-input-container button :hover {
  cursor: pointer;
}

.add-event-bar {
  width: 95%;
  padding: 0px 10px;
}
.add-event {
  position: relative;
  background-color: transparent;
  float: right;
  padding: 4px;
  border-width: 0px;
}
.add-event :hover {
  transition: 0.2s ease-in;
  background-color: #dbd6d6;
  border-radius: 3px;
  cursor: pointer;
}
.add-form input {
  margin-right: 10px;
  margin-top: 5px;
  padding: 5px;
  border-radius: 5px;
}
.add-form button {
  background-color: rgb(196, 196, 196);
  border-radius: 5px;
}
.image {
  width: 200px;
}

.view-task {
  background-color: aliceblue;
  border-radius: 10px;
  width: 100%;
  overflow-y: scroll;
  padding-top: 10px;
}
.view-task::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
}
.view-task::-webkit-scrollbar-thumb {
  background-color: #d7d7d7;
  border-radius: 10px;
}
.title-2 {
  font-size: 20pt;
  text-align: center;
}
.view-time {
  color: rgb(50, 50, 124);
  margin: 5%;
  text-align: center;
}
.view-info {
  margin: 20px;
}
.view-image {
  width: 100%;
}
.image-container {
  display: flex;
  justify-content: center;
}
