.container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.center-form {
  justify-content: center;
}

h1 {
  margin-bottom: 0;
}

.form-box {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: aliceblue;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 17px 1px #1d1f26;
}

.form-box h1 {
  text-align: center;
}

.login-form {
  display: block;
  text-align: center;
}

.login-form input {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  width: 80%;
  height: 30%;
}

.login-form button {
  background-color: rgb(154, 215, 255);
  border-radius: 10px;
  padding: 10px;
  width: 20%;
  margin-top: 7px;
}
